<p>code works!</p>
<h2>Snapshots</h2>
<p>Preview of our team:</p>

<div class="picture-row">
  <div class="picture-container">
    <div class="picture">
      <img class="logo" src="../../assets/img/IMG_3081.jpg" width="200" height="200" class="rotateimg90">
    </div>
    <div class="caption">Soldering some wires!</div>
  </div>  
  <div class="picture-container">
    <div class="picture">
      <img class="logo" src="../../assets/img/IMG_3096.jpg" width="200" height="200" >
    </div>
    <div class="caption">The Pi is throwing constant Errors</div>
  </div>
  <div class ="picture-container">
    <div class="picture">
        <img class="logo" src="../../assets/img/IMG_3086.jpg" width="200" height="200" class="rotateimg90">
    </div>
    <div class="caption">Troubleshooting the Pi</div>
  </div>
</div>
<div class="picture-row">
  <div class="picture-container">
      <div class ="picture">
          <img class="logo" src="../../assets/img/IMG_3094.jpg" width="200" height="200" class="rotateimg90">
      </div>
      <div class="caption">Raspberry Pi's Dedicated Keyboard!</div>
  </div>
  <div class="picture-container">
      <div class ="picture">
          <img class="logo" src="../../assets/img/IMG_3095.jpg" width="200" height="200">
        </div>
        <div class="caption">Finally!!!</div>
  </div>
  <div class="picture-container">
      <div class ="picture">
          <img class="logo" src="../../assets/img/IMG_3093.jpg" width="200" height="200" class="rotateimg90">
        </div>
        <div class="caption">The OS Homepage of the Pi</div>
  </div>
</div>